{
    "openapi": "3.0.0",
    "info": {
        "title": "Operations",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "http://www.cornutum.org/tcases/reducer/api"
        },
        {
            "url": "http://www.cornutum.org/tcases/api"
        }
    ],
    "paths": {
        "/operations": {
            "post": {
                "parameters": [
                    {
                        "name": "param0",
                        "in": "query",
                        "style": "label",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "boolean"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "id": {
                "name": "id",
                "in": "query",
                "schema": {
                    "type": "integer"
                }
            }
        },
        "requestBodies": {
            "standard": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "responses": {
            "success": {
                "description": "Success",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "failure": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}
