{
    "openapi": "3.0.0",
    "info": {
        "title": "Operations",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "http://www.cornutum.org/tcases/api"
        }
    ],
    "paths": {
        "/operations": {
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "nullable": {
                                        "type": "number",
                                        "nullable": true,
                                        "enum": [ 1, 2, null, 4 ]
                                    },
                                    "nonNullable": {
                                        "type": "string",
                                        "enum": [ "A", null, "B", "C" ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "success": {
                "description": "Success",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "failure": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}
