{
    "openapi": "3.0.0",
    "info": {
        "title": "Operations",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "http://www.cornutum.org/tcases/api"
        }
    ],
    "paths": {
        "/operations": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            },
            "head": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            },
            "options": {
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            },
            "patch": {
                "requestBody": {
                    "$ref": "#/components/requestBodies/standard"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            }
        },
        "/operationNew": {
            "post": {
                "parameters": [
                    {
                        "name": "param0",
                        "in": "header",
                        "style": "simple",
                        "required": false,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            },
            "patch": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/standard"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            },
            "trace": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/standard"
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/success"
                    },
                    "default": {
                        "$ref": "#/components/responses/failure"
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "id": {
                "name": "id",
                "in": "query",
                "schema": {
                    "type": "integer"
                }
            }
        },
        "requestBodies": {
            "standard": {
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "responses": {
            "success": {
                "description": "Success",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "failure": {
                "description": "Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}
